
<form action="Home/testverisiolustur" method="post">
    <input type="number" name="musteriAdet" placeholder="musteriAdet"/>
    <input type="number" name="sepetAdet" placeholder="sepetAdet"/>
    <input type="submit" value="Gönder" />
</form>